.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
  display: flex;
}

.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0%, -50%);
}

.filters button:hover {
  opacity: 0.9;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
  padding-left: 15px;
  position: relative;
}

.locations {
  border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.popover {
  list-style: none;
  display: none;
  background-color: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
}

.popover li {
  margin-bottom: 10px;
}

.popover li ul li {
  margin-bottom: 5px;
}

.popover h2 {
  font-size: 16px;
  margin: 0 0 5px;
}

.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}

@media (max-width: 768px) {
  .filters {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    flex-direction: column;
    height: auto;
  }

  .locations,
  .amenities {
    width: 50%;
    height: 75px;
    border: 1px solid #DDDDDD;
  }
}